<h1>Escolha o confronto</h1>

<div class="container clubs">
    <% Club.all.each do |club| %>
      <%= cl_image_tag club.photo.key, height: 100, width: 100%>
    <% end  %>
</div>

<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :home, input_html: {value: ""} %>
  <%= f.input :away, input_html: {value: ""} %>
  <%= f.input :competition, input_html: {value: ""} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<table>
  <tr>
    <th>Data</th>
    <th>Mandante</th>
    <th>Resultado</th>
    <th>Visitante</th>
    <th>Estádio</th>
    <th>Competição</th>
  </tr>
  <% if params['search'].present? %>
    <% @matches.where(competition: params['search'][:competition]).order('date desc').each do |match| %>
      <tr>
        <td><%= match.date %></td>
        <td><%= match.home.name %></td>
        <td><%= match.score_home %> x <%= match.score_away %></td>
        <td><%= match.away.name %></td>
        <td><%= match.stadium %></td>
        <td><%= match.competition %></td>
      </tr>
    <% end %>
  <% end %>
</table>

TENTAR USAR HASH
