<h1>Escolha o confronto</h1>

<div class="container clubs">
    <% Club.all.each do |club| %>
      <%= cl_image_tag club.photo.key, height: 100, width: 100%>
    <% end  %>
</div>

<div class="container">
  <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :home, input_html: {value: "#{@home.name unless @home.nil?}"} %>
    <%= f.input :away, input_html: {value: "#{@away.name unless @away.nil?}"} %>
      <% if params['search'].present?  %>
        <%= f.input :competition, input_html: {value: ""} %>
        <%= f.input :stadium, input_html: {value: ""} %>
        <%= f.input :start_date, as: :string, discard_day: true, discard_month: true, prompt: "Select an option", input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, discard_day: true, discard_month: true, prompt: "Select an option", input_html: {class: "datepicker"} %>
      <% end %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <% if params['search'].present? %>
    <%= pie_chart @matches.group(:result).count %>
  <% end %>
</div>

<div class="container">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Mandante</th>
        <th scope="col">Resultado</th>
        <th scope="col">Visitante</th>
        <th scope="col">Estádio</th>
        <th scope="col">Competição</th>
      </tr>
    </thead>
      <% if params['search'].present? %>
        <% @matches.order('date desc').each do |match| %>
          <tr>
            <td scope="row"><%= match.date %></td>
            <td><%= match.home.name %></td>
            <td><%= match.score_home %> x <%= match.score_away %></td>
            <td><%= match.away.name %></td>
            <td><%= match.stadium %></td>
            <td><%= match.competition %></td>
          </tr>
        <% end %>
      <% end %>
  </table>
</div>
