<h1>Escolha o confronto</h1>

<div class="container" data-controller="club-click">
  <div class="container clubs">
      <% Club.all.each do |club| %>
        <%= cl_image_tag club.photo.key, height: 100, width: 100, id: club.name, class: "club", data: {action: "click->club-click#fill", target: 'club'} %>
      <% end  %>
  </div>

  <div class="container col-6 form mt-3 text-center", id="form">
    <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-group' } do |f| %>
    <div class="row">
      <div class="col-4">
        <%= f.input :home, input_html: {value: "#{@home.name unless @home.nil?}",  'data-club-click-target': 'home', class: "confronto"}, readonly: true, label: false %>
      </div>
      <div class="col-1" id="x">
        <p>X</p>
      </div>
      <div class="col-4">
        <%= f.input :away, input_html: {value: "#{@away.name unless @away.nil?}", 'data-club-click-target': 'away', class: "confronto"}, readonly: true, label: false%>
      </div>
    </div>
        <% if params['search'].present?  %>
          <div class="row">
            <div class="col-4">
              <%= f.input :competition, collection: @competitions, required: false, label: "Competição" %>
            </div>
            <div class="col-4">
              <%= f.input :stadium, collection: @stadiums, required: false, label: "Estádio" %>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <%= f.input :start_date, as: :date, discard_day: true, discard_month: true, start_year: Date.today.year - 120, end_year: Date.today.year, prompt: "Select an option", required: false, label: "Ano Inicial" %>
            </div>
            <div class="col-4">
              <%= f.input :end_date, as: :date, discard_day: true, discard_month: true, start_year: Date.today.year - 120, end_year: Date.today.year, prompt: "Select an option", required: false, label: "Ano Final" %>
            </div>
          </div>
        <% end %>
      <div class="row justify-content-center">
        <div class="col-4">
          <%= f.submit "Search", class: "btn btn-primary", id: "searchbtn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container graphs">
  <% if params['search'].present? %>
    <div>
      <h3>Resultados</h3>
      <%= pie_chart ({ @home.name => @matches.where(result: @home.name).count, @away.name => @matches.where(result: @away.name).count, "Empate" => @matches.where(result: "Empate").count}), colors: [@home.color, @away.color, "#FFD166"] %>
    </div>
    <div>
      <h3>Gols</h3>
      <%= pie_chart ({ @home.name => @home.total_goals(@matches), @away.name => @away.total_goals(@matches) }), colors: [@home.color, @away.color] %>
    </div>
  <% end %>
</div>

<div class="container">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Mandante</th>
        <th scope="col">Resultado</th>
        <th scope="col">Visitante</th>
        <th scope="col">Estádio</th>
        <th scope="col">Competição</th>
      </tr>
    </thead>
      <% if params['search'].present? %>
        <% @matches.order('date desc').each do |match| %>
          <tr>
            <td scope="row"><%= match.date %></td>
            <td><%= match.home.name %></td>
            <td><%= match.score_home %> x <%= match.score_away %></td>
            <td><%= match.away.name %></td>
            <td><%= match.stadium %></td>
            <td><%= match.competition %></td>
          </tr>
        <% end %>
      <% end %>
  </table>
</div>
