<!DOCTYPE html>
<html>
  <head>
    <title>DozeGrandes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="https://res.cloudinary.com/dbqyyc17d/image/upload/v1650844251/bola_ahhs7g.png" />
        </a>
        <h2><strong>Doze Grandes</strong></h2>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <%= link_to "Quem Somos", quem_somos_path %>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
